In [ ]:
# THIS NOTEBOOK ANALYZES THE ORIGINAL TESTING DATA TO HELP QUANTIFY OUR MODEL'S PERFORMANCE
# SPECIFICALLY WE ARE LOOKING TO IDENTIFY:
    # 1. THE MONETARY SUM OF FRAUDULENT TRANSACTIONS
    # 2. THE AVERAGE SIZE OF A FRAUDULENT TRANSACTION
    # 3. IN WHICH TRANSACTION CATEGORIES FRAUD MOST OFTEN OCCURS

In [1]:
# Import necessary library
import pandas as pd

In [2]:
# Read in CSV
df = pd.read_csv('fraud_test_dataset.csv')

In [3]:
df.head()

,Unnamed: 0.1,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [4]:
# Group 'is_fraud' by amount of each transaction and sum 
fraud_sum = df.groupby('is_fraud')['amt'].sum()
fraud_sum

is_fraud
0    6725597.04
1     203211.46
Name: amt, dtype: float64

In [10]:
# Print total value of fraud transactions
print(f'Total value of fraudulent transactions: ${fraud_sum.loc[1]:.2f}')

Total value of fraudulent transactions: $203211.46

In [5]:
# Assign fraudulent transactions to new variable
fraud_transactions = df[df['is_fraud'] ==1]

In [14]:
avg_fraud_size = fraud_transactions['amt'].mean()
print(f'Average size of fraudulent transaction: ${avg_fraud_size:,.2f}')

Average size of fraudulent transaction: $505.50

In [7]:
# Group fraud transactions by category and identify the size of each category
fraud_by_category = fraud_transactions.groupby('category').size()

In [8]:
# Sort fraud categories in decending order
fraud_by_category_sorted = fraud_by_category.sort_values(ascending=False)
fraud_by_category_sorted

category
shopping_net      94
grocery_pos       88
misc_net          41
shopping_pos      40
gas_transport     28
home              18
misc_pos          16
personal_care     13
food_dining       12
entertainment     11
health_fitness    11
kids_pets         11
grocery_net       10
travel             9
dtype: int64